:root {
  --blue: rgb(57,161,164);
  --yellow: rgb(244,192,57);
  --red: rgb(218,80,77);
}

body{
  background-color: var(--blue);
  color: var(--blue);
  flex-direction: column;
  font-family: "Space Grotesk", sans-serif;
  padding: 0;
  margin: 0;
  
}

.hamburger-icon {
  display: block;
  overflow: hidden;
  position: fixed;
  cursor: pointer;
  top: 0;
  right: 0;
  z-index: 1010;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
  transition: text-shadow 0.3s ease;
  text-shadow: 0px 0px 50px rgba(0,0,0,0.2);
}

.hamburger-icon:active{
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.32);
  
}

.navbar {
  display: block;
  background: rgba(163, 163, 163, 0.438);
  backdrop-filter: saturate(180%) blur(10px);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 0%;
  transition: max-height 0.3s ease;
  z-index: 1001;
}

.navbar.expanded {
  max-height: 400px;
}


.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

.navbar a:hover {
  background-color: var(--yellow);
  backdrop-filter: saturate(180%) blur(10px);
  color: white;
}

.navbar a.active {
  background-color: var(--yellow);
  color: white;
}

.poster-container{
  position: relative;
  text-align: center;
  background-image:url(images/Background_SuperBlured.jpg);
  background-size: cover;
  background-position:top;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

.background-image{
  max-width: 100%;
}
.Title-text{
  position: absolute;
  top: 36%;
  font-size:17.5vw;
  z-index: 0;
  
  left:0; right: 0;
  font-family: "Bebas Neue", sans-serif;
  
  letter-spacing: 0.1em;
  color: var(--blue);
  text-shadow: 0px 0px 50px rgba(0,0,0,0.2);
  transition: text-shadow 0.15s;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.856);
  
}

.about{
  background-color: var(--yellow);
  color: white;
  padding: 50px;
  position: relative;
  z-index: 150;
  font-size: x-large;
}

.about-title{
  margin: 0px;
  margin-bottom:20px;
}

.where{
  display: flex;
  flex-direction: row;
  background-color: var(--blue);
  height: 430px;
  color: white;
  
}
.where-text{
  font-size: 110%;
  padding: 0;
}

.icon{
  flex: 1;
  height: 100px;
  text-align: left;
  padding: 15px;
  margin: 0;
}

.tickets {
  display: inline-block;
  padding: 15px 30px; 
  margin: 0;
  margin-top: 10px;
  background-color: var(--yellow);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
  color: white;
  text-decoration: none;
  font-family: "Space Grotesk", sans-serif;
  font-size: xx-large;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.tickets:hover {
  background-color: var(--yellow);
}

.tickets:active {
  transform: scale(0.95);
}

.galeria-text{
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.2em;
  
}

.gallery{
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  padding: 1.5rem;
  position: relative;
  text-align: center;
  background-image:url(images/Background_Blured.jpg);
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  
}


.galleryimage{
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0);
  transition: transform 500ms, box-shadow 500ms, background-color 700ms;
  
  
  
}

.render{
  scale: 135%;
  overflow:visible;
  left: 0%;
  transform: translateY(35px) translateX(10px)
  
}

.galleryimage:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  transform: translateY(-3px) scale(1.01);
}

@media screen and (min-width:200px) {
  .galleryimage-tall{
    grid-row: span 2 / auto;
  }

  .galleryimage-wide{
    grid-column: span 2 / auto;
  }

  .map{
    flex: 2;
  }

  
}

@media screen and (min-width:1900px) {
  .where-text{
    flex: 2;
  }
}



@media screen and (max-width:1000px) {
  .navbar a{
    padding-right: 50%;
    color: var(--blue);
    
  }
  .hamburger-icon{
    font-size: 50px;
  }
  .Budapesten-text{
    top: 20%
  }
  .navbar{
  background: rgba(255, 255, 255, 0.838);
  }
}

@media screen and (min-width:440px) {

  .Title-text{
    top: 15%
  }

}

@media screen and (min-width:1000px) {
  .gallery{
    
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 350px;
   
    
  }
  .about{
    z-index: 50;
    padding-left: 200px;
    padding-right: 200px;
  }
  .where{
    padding: 45px;
    padding-left: 200px;
    padding-right: 200px;
  }

  .gallery{
    padding-left: 200px;
    padding-right: 200px;
  }

  .hamburger-icon{
    display: none;
  }

  .navbar{
    max-height: 100px;
  }


  .Title-text{
    top: 5%;
    font-size:12.5vw;
  }
  .poster-container{
    background-image:url(images/Background_Blured.jpg);
  }

  .render{
    scale: 100%;
  transform: translateX(0vw);
  }
}



.myCheckbox {
  
  width: 100%;
  height: 100%;
}

.galleryimage.expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-size:contain;
  background-color: rgba(0, 11, 17, 0.5);
}
